<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="serviceSetterDI" class="services.ServiceSetterDI">
        <property name="sampleComponent" ref="sampleComponent"/>
    </bean>
    <bean id="serviceConstructorDI" class="services.ServiceConstructorDI">
        <constructor-arg name="sampleComponent" ref="sampleComponent"/>
    </bean>
    <bean id="sampleComponent" class="components.SampleComponent" lazy-init="true"/>

</beans>